@font-face {
  font-family: titleFont;
  src: url('./VarelaRound-Regular.ttf') format('truetype');
}
body, html {
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.full-background{
  height: -webkit-fill-available;
  object-fit: fill;
  width: 100%;
}
.frontHeadline{
  font-family: titleFont;
  position: fixed;
  top: 5%;
  right: 10%;
}
.langugeDivCss{
  position: fixed;
  top: 5%;
  left: 5%;
  display: grid;
  grid-row-gap: 8px;
}
.churchOne{
  right: 76px;
  bottom: 185px;
  position: fixed;
} 
.text-title-front-one{
  position: absolute;
  left: 33%;
  bottom: 82px;
}
.churchTwo{
  bottom: 202px;
  left: 312px;
  position: fixed;
}
.text-title-front-two{
  position: absolute;
  left: 200px;
  bottom: 82px;
}
.churchThree{
  left: 6px;
  bottom: 192px;
  position: fixed;
}
.text-title-front-three{
  position: absolute;
  left: 200px;
  bottom: 82px;
}
.front-text-container{
  position: fixed;
  left: 36%;
  top: 5%;
  width: 500px;
}
.front-info-title{
  position: relative;
  text-align: center;
}
.title-text-front{
  font-family: titleFont;
    font-weight: 300;
    font-size: 43px;
}
.front-paragraph-container{
  position: relative;
}
.textCss{    
  height: 800px;
  direction: rtl;
  line-height: 1.6;
  font-size: 18px;
  white-space: pre-line;
  overflow: scroll;
}
.scroll-button-container {
  position: fixed;
  bottom: 5%;
  left: 35%;
}
.right-scroll-btn{
  margin-left: -80px;
  margin-bottom: 4px;
}
.text-inserter-container{
  position: fixed;
  left: 10%;
  top: 10%;
  width: 500px;
}
.titleBoxHeb{
  position: relative;
  top: 17%;
  right: 8%;
  text-align: right;
}
.text-particular{
  height: 555px;
  line-height: 1.6;
  font-size: 18px;
  white-space: pre-line;
  overflow: scroll;
}
.particularBackGround{

  height: -webkit-fill-available;
  object-fit: fill;
  width: 100%;
}
.rightToLeftHomeBtn{

  position: fixed;
  top: 50px;
  left: 200px;
  width: 80px;
  height: 30px;
}
.heInfoPageTitle{
  margin-bottom: 0;
}
.titleFont{
  font-family: titleFont;
  font-weight: 300;
}
.infoTextBoxLeftToRight{

  position: fixed;
  top: 16%;
  width: 33%;
  height: 325px;
}
.textBoxCss{
  position: fixed;
  top: 7%;
  right: 4%;
  width: 34%;
  display: grid;
}
.buttomScrollOneHE{
  position: relative;
  top: -38px;
  left: 37%;
}
.buttomScrollOneEN {
  position: absolute;
  bottom: -220px;
  right: 83px;
}
.topScrollOneHE{
  position: relative;
  left: 50%;
  top: 40%;
  height: 20px;
}
.topScrollOneEN{
  position: fixed;
  left: 10%;
  top: 17%;
  height: 20px;
}
.leftToRightLangDiv{
 
  position: fixed;
  top:150px;
  right: 70px;
  display: grid;
  grid-row-gap: 8px;
  z-index: 99;
}
.enInfoTitle{
  position: fixed;
  left: 4%;
  top: 21%;
}
.frontPageEnTitle{
  margin-left: 21%;
  margin-bottom: 0%;
}
.frontPageUnderline{
  margin-left: 18%;
}
.topInfoScrollEn{
  visibility: hidden;
  position: fixed;
  left: 18%;
  top: 29%;
  height: 20px;
}
.infoEnText{
  font-family: Papyrus;
  position: fixed;
  font-size: 18px;
  left: 8%;
  top: 30%;
  width: 31%;
  line-height: 1.6;
  height: 46%;
  overflow: scroll;
}
.buttomInfoScroll{
  position: absolute;
  bottom: -53%;
  right: 83px;
}

.homeBtn{
  position: fixed;
  bottom: 15px;
  right: 200px;
  z-index: 10;
}

#timelineBackground{
  width: auto;
}
.languagesDiv{
  position: fixed;
  display: flex;
  grid-row-gap: 8px;
  z-index: 99;
  bottom: 25px;
  left: 40px;
}
.addMargin{
  margin-right: 15px;
}
.frameCss{
  position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
}
.holydaysContinue{
  position: fixed;
  top: 50%;
  left: 1%;
}
.holyTitle{
  position: fixed;
  width: 698px;
  top: 8%;
  text-align: center;
  left: 607px;
}

.scroll-container-heb{
  position: fixed;
  bottom: 17%;
  right: 42%;
}
.left-scroll {
  margin-right: 20px;
}
.front-page-title{
  position: fixed;
  right: 4%;
  top: 12%;
  display: inline;
  text-align: center;
}
.front-h1{
  margin-bottom: 3px;
}
.someClass{
  position: relative;
}