@font-face {
  font-family: titleFont;
  src: url('./VarelaRound-Regular.ttf') format('truetype');
}
body, html {
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.full-background{
  height: -webkit-fill-available;
  object-fit: fill;
  width: 100%;
  margin-bottom: -4px;
}
.frontHeadline{
  font-family: titleFont;
  position: fixed;
  top: 5%;
  right: 10%;
}
.langugeDivCss{
  position: fixed;
  top: 5%;
  left: 5%;
  display: grid;
  grid-row-gap: 8px;
}
.title-box-size{
  height: 150px;
  width: 300px;
}
.title-box-one{
  right: 574px;
  top: 78px;
  position: fixed;
} 
.text-title-front-one{
  position: absolute;
  left: 33%;
  bottom: 82px;
}
.title-box-two{
  top: 81px;
  left: 605px;
  position: fixed;
}
.text-title-front-two{
  position: absolute;
  left: 118px;
  bottom: 82px;
}
.title-box-three{
  left: 261px;
  top: 77px;
  position: fixed;
}
.title-box-four{
  right: 81px;
  top: 85px;
  position: fixed;
}
.text-title-front-three{
  position: absolute;
  left: 132px;
  bottom: 69px;
}
.front-text-container{
  position: fixed;
  right: 19%;
  top: 36%;
  width: 1050px;
  z-index: 1;
}
.front-text-container-en{
  position: fixed;
  left: 23%;
  top: 31%;
  z-index: 1;
}
.front-info-title{
  position: relative;
  text-align: center;
}
.title-text-front{
  font-family: titleFont;
  font-weight: 300;
  font-size: 33px;
}
.front-paragraph-container{

}
.textCss{    
  height: 600px;
  direction: rtl;
  line-height: 1.6;
  font-size: 18px;
  white-space: pre-line;
  overflow: scroll;
}
.enTextCss{
  height: 670px;
  width: 1000px;
  line-height: 1.6;
  font-size: 22px;
  white-space: pre-line;
  overflow: scroll;
}
.scroll-button-container {
  position: fixed;
  bottom: 5%;
  left: 35%;
}
.right-scroll-btn{
  margin-left: -80px;
  margin-bottom: 4px;
}
.text-inserter-container{
  position: fixed;
  left: 12%;
  top: 10%;
  width: 500px;
}
.titleBoxHeb{
  position: relative;
  top: 17%;
  right: 8%;
  text-align: right;
}
.text-particular{
  height: 555px;
  line-height: 1.6;
  font-size: 20px;
  white-space: pre-line;
  overflow: scroll;
}
.item-container{
  position: fixed;
  left: 50px;
  top: 100px;
  width: 43%;
  height: 900px;
  overflow: scroll;height: 900px;
  overflow: scroll;
}
.item-container-heb{
  position: fixed;
  right: 50px;
  top:100px;
  width: 43%;
  direction: rtl;
  height: 900px;
  overflow: scroll;
}
.school-info-heb{
  direction: rtl;
  height: 555px;
  line-height: 1.6;
  font-size: 18px;
  white-space: pre-line;
  overflow: scroll;
}
.hospital-info-heb{
  direction: rtl;
  height: 800px;
  line-height: 1.6;
  font-size: 18px;
  white-space: pre-line;
  overflow: scroll;
}
.hospital-info-en{
  height: 800px;
  line-height: 1.6;
  font-size: 18px;
  white-space: pre-line;
  overflow: scroll;
}
.heb-school-text-container{
  width: 500px;
  position: fixed;
  right: 12%;
  top: 10%;
}
.particularBackGround{
  height: -webkit-fill-available;
  object-fit: fill;
  width: 100%;
  margin-bottom: -4px;
}
.diseases-title-container{
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
.item-container-small{
  display: grid;
}
.hospital-click-container{
  position: fixed;
  top:15%;
  right: 15%;
}
.hospital-text-background{
  position: fixed;
  top: 3%;
  right: 1%;
}
.hospital-text-background-en{
  position: fixed;
  top: 3%;
  left: 1%;
}

.rightToLeftHomeBtn{

  position: fixed;
  top: 50px;
  left: 200px;
  width: 80px;
  height: 30px;
}
.heInfoPageTitle{
  margin-bottom: 0;
}
.titleFont{
  font-family: titleFont;
  font-weight: 300;
}
.infoTextBoxLeftToRight{

  position: fixed;
  top: 16%;
  width: 33%;
  height: 325px;
}
.textBoxCss{
  position: fixed;
  top: 7%;
  right: 4%;
  width: 34%;
  display: grid;
}
.buttomScrollOneHE{
  position: relative;
  top: -38px;
  left: 37%;
}
.buttomScrollOneEN {
  position: absolute;
  bottom: -220px;
  right: 83px;
}
.topScrollOneHE{
  position: relative;
  left: 50%;
  top: 40%;
  height: 20px;
}
.topScrollOneEN{
  position: fixed;
  left: 10%;
  top: 17%;
  height: 20px;
}
.leftToRightLangDiv{
 
  position: fixed;
  top:150px;
  right: 70px;
  display: grid;
  grid-row-gap: 8px;
  z-index: 99;
}
.enInfoTitle{
  position: relative;
  left: 4%;
  top: 21%;
}
.frontPageEnTitle{
  margin-left: 21%;
  margin-bottom: 0%;
}
.frontPageUnderline{
  margin-left: 18%;
}
.topInfoScrollEn{
  visibility: hidden;
  position: fixed;
  left: 18%;
  top: 29%;
  height: 20px;
}
.infoEnText{
  font-family: Papyrus;
  position: fixed;
  font-size: 18px;
  left: 8%;
  top: 30%;
  width: 31%;
  line-height: 1.6;
  height: 46%;
  overflow: scroll;
}
.buttomInfoScroll{
  position: absolute;
  bottom: -53%;
  right: 83px;
}

.homeBtn{
  position: fixed;
  bottom: 15px;
  right: 200px;
  z-index: 10;
}

#timelineBackground{
  width: auto;
}
.languagesDiv{
  position: fixed;
  display: flex;
  grid-row-gap: 8px;
  z-index: 99;
  bottom: 25px;
  left: 40px;
}
.addMargin{
  margin-right: 15px;
}
.frameCss{
  position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
}
.holydaysContinue{
  position: fixed;
  top: 50%;
  left: 1%;
}
.holyTitle{
  position: fixed;
  width: 698px;
  top: 8%;
  text-align: center;
  left: 607px;
}

.scroll-container-heb{
  position: fixed;
  bottom: 17%;
  right: 42%;
}
.left-scroll {
  margin-right: 20px;
}
.front-page-title{
  position: fixed;
  right: 4%;
  top: 12%;
  display: inline;
  text-align: center;
}
.front-h1{
  margin-bottom: 3px;
}
.someClass{
  position: relative;
}
.text-box {
  position: absolute;    
  height: 100%;
  text-align: center;    
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-small-front{
  font-family: titleFont;
  font-weight: 300;
}
h4 {
 font-size: 24px; /*or whatever you want*/ 
}
.my-img {
display: block;
max-width: 100%;
height: auto;
}
.front-page-text-box{
  position: fixed;
  top: 16%;
  left: 12%;
}
.diseases-small-title{
  font-weight: bold;
  margin-right: 5px;
  font-size: 22px;
}
.small-title-underline{
  width: 225px;
  margin-top: 4px;
}
.item-container-small-heb{
  display: grid;
}
.diseases-title{
  font-size: 25px;
}
.diseases-pic-heb{
  position: fixed;
  top: 10%;
  left: 10%
}
.diseases-pic-en{
  position: fixed;
  top: 10%;
  right: 10%
}
.heads-text{
  font-size: 18px;
}
.heb-heads-text{
  font-size: 18px;
}